<div class="tabs">
  <a class="tab active" href="#">
    <h3>My listings</h3>
  </a>
  <a class="tab" href="#">
    <h3>My rentals</h3>
  </a>
</div>

<h1> My Listings: </h1>

<div class="container">
  <div class="row">
    <% @articles.each do |article|%>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="article-listing-card" >
          <%= link_to article_path(article) do  %>
          <h3> name: <%= article.name %> </h3>
          <p> description: <%= article.description %> </p>
          <p> price: <%= article.price %> </p>
          <p> start date: <%= article.start_date %> </p>
          <p> end date: <%= article.end_date %> </p>
          <p> category: <%= article.sport_id %> </p>
          <p> state: <%= article.state_id %> </p>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>


<%= link_to "Add a new article", "new_article_path", class: "btn btn-primary" %>
