<div id="index-title">
  <h1>Search results:</h1>
  <p class="animated flash"><%= @articles.count %> articles available</p>
</div>
<div class="filters-bar">
    <h3>Filter by: </h3>
    <div id="search-by">
      <%= form_tag("/articles", method: "get") do %>
          <%= label_tag(:q, "Sport:") %>
          <%= select_tag(:sport, options_from_collection_for_select(@sports, :name, :name, params[:sport]),:include_blank => "All sports") %>
          <%= label_tag(:q, "Condition:") %>
          <%= select_tag(:state, options_from_collection_for_select(@states, :description, :description, params[:state]),:include_blank => "All conditions") %>
          <%= label_tag(:q, "Max Price:") %>
          <%= select_tag(:price, options_for_select([10,20,30,40,50,60,70,80,90,100,150,200], params[:price].to_i),:include_blank => "None") %>
          <%= submit_tag("Filter", id:"submit-btn", class:"hvr-grow") %>
      <% end %>
    </div>
  </div>
</div>

<div class="results">
    <div class="cards-container">
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-xs-12 col-lg-4">
            <div class="article-card animated slideInUp" data-aos="animation_name" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(<%= article.picture %>);">
              <%= link_to article_path(article) do  %>
              <h3><%= article.name %></h3>
              <p><%= article.sport.name %></p>
              <p><%= article.price %>€/day</p>
              <p>State: <%= article.state.description %></p>
              <% end  %>
              <div class="avatar"><%= article.user.profile_picture %></div>
            </div>
          </div>
        <% end  %>
      </div>
    </div>
  <div
    id="map"
    style="width: 100%;
    height: 100vh"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>

