<h1>Search results:</h1>

<div class="filters-bar">
  <h3>Filter by: </h3>
  <div id="search-by-sport">
    <%= form_tag("/articles", method: "get") do %>
        <%= label_tag(:q, "Sport:") %>
        <%= select_tag(:sport, options_from_collection_for_select(@sports, :name, :name, params[:sport].capitalize),:include_blank => "All sports") %>
        <%= label_tag(:q, "Condition:") %>
        <%= select_tag(:state, options_from_collection_for_select(@states, :description, :description, params[:state]),:include_blank => "All conditions") %>
        <%= submit_tag("Go") %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
  <% @articles.each do |article| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="article-card">
        <%= link_to article_path(article) do  %>
        <h3><%= article.name %></h3>
        <p><%= article.sport.name %></p>
        <p><%= article.price %>€/day</p>
        <p>State: <%= article.state.description %></p>
        <% end  %>
        <div class="avatar"><%= article.user.profile_picture %></div>
      </div>
    </div>
  <% end  %>
</div>

