<h1>Add an article !</h1>
<%= simple_form_for [@article] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start_date%>
  <%= f.input :end_date%>
  <%= f.input :longitude%>
  <%= f.input :latitude%>
  <%= f.input :picture%>
  <%= f.input :price%>
  <%= f.association :sport,:collection => @sports, include_blank: false%>
  <%= f.association :state,:collection => @states, label_method: :description, include_blank: false %>
  <%= f.submit "add an article", class: "btn btn-primary" %>
<% end %>



