


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/featured/?sport');">
  <div class="banner-content">
    <h1>Welcome on Arena99</h1>
    <p>Find the best sport equipement</p>

    <div class="search-btn">
      <%= form_tag("/articles", method: "get") do %>
        <%= label_tag(:q, "Where:") %>
        <%= text_field_tag(:q) %>
        <%= label_tag(:q, "Sports:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>

