<div class="banner">
  <div class="banner-back">
      <div class="video-background">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EykWcFEtFqo?autoplay=1&amp;mute=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;start=30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="banner-content">
        <div id="arena99-banner" class="animated bounceInDown">
          <%= image_tag "logo-arena99-white.png", {:style => "height:90px;"} %>
          <p>&nbsp<%= link_to "Arena99", root_path %></p>
        </div>
        <p><i class="far fa-star"></i> I got 99 problems but sports gear ain't one. <i class="far fa-star"></i></p>
        <div class="search-btn">
          <%= form_tag("/articles", method: "get") do %>
            <%= text_field_tag(:localisation) %>
            <%= label_tag(:q, "&") %>
            <%= text_field_tag(:sport, nil, :placeholder => "Enter a sport" ) %>&nbsp
            <%= submit_tag("GO FOR IT!", id: "submit-btn", class:"hvr-grow") %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="inspiration">
  <h2>Find your greatness, Explore the Arena</h2>
  <h3>Popular Sports</h3>
  <div class="container">
    <div class="row">
      <%= link_to articles_path(sport: "tennis") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lesportdauphinois.com/app/uploads/2016/06/Tennis_Racket_and_Balls.jpg');"><p>TENNIS</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(sport: "football") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.lepoint.fr/images/2017/07/31/9620338lpw-9621536-article-football-jpg_4460375_660x281.jpg');"><p>FOOTBALL</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(sport: "surfing") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.susantaks.nl/wp-content/uploads/2015/05/tumblr_n8si6mKqKY1th9nbmo6_1280.jpg');"><p>SURFING</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(sport: "canyoning") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s25282eadbc439890/image/i708c6119e4426c29/version/1497804718/image.jpg');"><p>CANYONING</p></div>
        </div>
      <% end %>
    </div>
  </div>
  <h3>Popular Cities</h3>
  <div class="container">
    <div class="row">
      <%= link_to articles_path(city: "paris") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.ambassenparis.com/wp-content/uploads/2018/03/paris.jpg');"><p>PARIS</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(city: "lyon") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn-goeuro.com/static_content/web/content/destination/Lyon-header.jpg');"><p>LYON</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(city: "marseille") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://i.f1g.fr/media/eidos/805x453_crop/2018/02/20/XVM094468d2-1596-11e8-b38a-0929f7da0ad0.jpg');"><p>MARSEILLE</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(city: "lille") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.neoresid.com/wp-content/uploads/2018/04/lille.jpg');"><p>LILLE</p></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

