<div class="banner">
  <div class="banner-back">
      <div class="video-background">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EykWcFEtFqo?autoplay=1&amp;mute=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;start=30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="banner-content">
        <div id="arena99-banner" class="animated bounce">
          <%= image_tag "logo-arena99-white.png", {:style => "height:90px;"} %>
          <p>&nbsp<%= link_to "Arena99", root_path %></p>
        </div>
        <p><i class="far fa-star"></i> I got 99 problems but sports gear ain't one. <i class="far fa-star"></i></p>
        <div class="search-btn">
          <%= form_tag("/articles", method: "get") do %>
            <%= text_field_tag(:localisation) %>
            <%= label_tag(:q, "&") %>
            <%= text_field_tag(:sport, nil, :placeholder => "Enter a sport" ) %>&nbsp
            <%= submit_tag("LET'S GO!", id: "submit-btn", class:"hvr-grow") %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="inspiration">
  <h2>Find your greatness, Explore the Arena:</h2>
  <h3>Popular Sports</h3>
  <div class="container">
    <div class="row">
      <%= link_to articles_path(sport: "tennis") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lesportdauphinois.com/app/uploads/2016/06/Tennis_Racket_and_Balls.jpg');"><p>TENNIS</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(sport: "football") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.lepoint.fr/images/2017/07/31/9620338lpw-9621536-article-football-jpg_4460375_660x281.jpg');"><p>FOOTBALL</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(sport: "running") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.vichy-spa-hotel.fr/sites/www.vichy-spa-hotel.fr/files/cure-running-courir-spa-hotel-vichy.jpg');"><p>RUNNING</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(sport: "swimming") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Efemmeactuelle.2Efr.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fbien-etre.2Fsport-fitness.2Ffiches-sports.2Fexercices-natation-pour-s-affiner-30690.2F14101028-1-fre-FR.2Fnatation-des-exercices-pour-s-affiner-de-partout.2Ejpg/748x372/quality/80/crop-from/center/natation-des-exercices-pour-s-affiner-de-partout.jpeg');"><p>SWIMMING</p></div>
        </div>
      <% end %>
    </div>
  </div>
  <h3>Popular Cities</h3>
  <div class="container">
    <div class="row">
      <%= link_to articles_path(city: "paris") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.ambassenparis.com/wp-content/uploads/2018/03/paris.jpg');"><p>PARIS</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(city: "lyon") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn-goeuro.com/static_content/web/content/destination/Lyon-header.jpg');"><p>LYON</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(city: "marseille") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://i.f1g.fr/media/eidos/805x453_crop/2018/02/20/XVM094468d2-1596-11e8-b38a-0929f7da0ad0.jpg');"><p>MARSEILLE</p></div>
        </div>
      <% end %>
      <%= link_to articles_path(city: "lille") do %>
        <div class="col-xs-12 col-lg-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.neoresid.com/wp-content/uploads/2018/04/lille.jpg');"><p>LILLE</p></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

